@import "variables";
@import "typography";
@import "ul-kit/button";
.container{
    .main{
        background-color: $red;
    }
}

@for $idx from 1 through 100 {
@if $idx % 5 == 0 {

    .fs-#{$idx} {
    $fs : $idx * 1px ;
    font-size: $fs;
    }
}
}

@each $color-name,$color-value in $color-map {
    .colors-#{color-name} {
        color:$color-value;
    }
}